<section class="gallery">
  <div class="container">
    <h2>Gallery</h2>
    <div class="images">
      <img src="../../../public/assets/i1.jpg" alt="Image 1" />
      <img src="../../../public/assets/i2.jpg" alt="Image 2" />
      <img src="../../../public/assets/i3.jpg" alt="Image 3" />
      <img src="../../../public/assets/i4.jpg" alt="Image 3" />
    </div>
    <div class="videos">
      <video controls>
        <source src="../../../public/assets/v1.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      
      <video controls>
        <source src="../../../public/assets/v2.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>

      <video controls>
        <source src="../../../public/assets/v3.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>

      <video controls>
        <source src="../../../public/assets/hero.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</section>

<style>
  .gallery {
    padding: 4rem 0;
    text-align: center;
  }

  .images img, .videos video {
    margin: 1rem;
    max-width: 100%;
    height: auto;
  }

  .images, .videos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
</style>