---
const services = [
  {
    step: '01',
    name: 'Matcha-lmond Latte',
    description:
      'This is a delicious and healthy drink that is perfect for any time of the day. It is made with matcha green tea, almond milk, and a touch of honey. The matcha green tea is full of antioxidants and is known for its calming effects. The almond milk is a great alternative to dairy milk and is low in calories. The honey adds a touch of sweetness to the drink. This drink is perfect for anyone who is looking for a healthy and delicious alternative to coffee. It is also a great way to start the day or to relax in the evening. Enjoy!',
  },
  {
    step: '02',
    name: 'Orange is the New Black',
    description:
      'This drink adds a twist to the classic orange juice by adding a touch of blackcurrant. The blackcurrant adds a tart and sweet flavor to the orange juice, making it a refreshing and delicious drink. The orange juice is full of vitamin C and is known for its immune-boosting properties. The blackcurrant is full of antioxidants and is known for its anti-inflammatory properties. This drink is perfect for anyone who is looking for a healthy and delicious alternative to soda. It is also a great way to start the day or to relax in the evening. Enjoy!',
  },
  {
    step: '03',
    name: 'Almond Butter Toast',
    description:
      'This is a personal favorite of our team. It is a simple and delicious snack that is perfect for any time of the day. It is made with whole grain bread, almond butter, and a touch of honey. The whole grain bread is full of fiber and is known for its heart-healthy properties. The almond butter is a great source of protein and is full of healthy fats. The honey adds a touch of sweetness to the snack. This snack is perfect for anyone who is looking for a healthy and delicious alternative to chips or candy. It is also a great way to fuel up before a workout or to refuel after a long day. Enjoy!',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Featured Beverages</h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          services.map((service) => (
            <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
              <p class="text-sm">{service.step}</p>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{service.name}</h3>
                <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                  {service.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
